body
{
	margin: 0;
	padding: 0px 60px;
	background-color: #29201B;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

main > *{
	/* padding: 20px; */
	text-align: center;
}

.container{
	margin: 0 auto;
	max-width: 1000px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	gap: 10px;
	justify-content: center;
}
.row1, .row2{
	display: flex;
	/* flex-direction: row; default */
	gap:10px;
}
.red{
	background-color: lightcoral;
	flex-basis: 100%;
}
.green{
	background-color: seagreen;
	flex-basis: 48%;
}
.blue{
	background-color: skyblue;
	/* flex-basis: 40%;
	flex-grow: 1; */
	flex: 1 0 42%
}

nav{
	background-color: chocolate;
	flex-basis: 20%;
}

article{
	background-color: blueviolet;
	/* flex-basis: 42%;
	flex-grow: 1; */
	flex: 1 0 42%
}

aside{
	background-color: darkcyan;
	flex-basis: 20%;
}

footer{
	background-color: crimson;
	flex-basis: 100%;
}