body{
	background-image: url("img/hexellence.png");
	font-family: 'Lato';
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
#container{
	background-color: white;
	width: 300px;
	padding: 50px;
	margin-top: 200px;
	box-shadow: 3px 3px 30px 5px rgba(204,204,204, .9);
}

input[type="text"],
input[type="password"]{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
}

input[type="submit"]{
	width: 300px;
	background-color: rgb(54, 176, 60);
	font-size: 20px;
	color: white;
	padding:15px 10px;
	margin-top: 10px;
	border: none ;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
}