body{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.conatainer{
	margin: 0 auto;
	width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.red{
	background-color: red;
    height: 100px;
}

.orange{
	background-color: orange;
    flex-basis: 33.33%;
}

.black{
	background-color: black;
    flex-basis: 33.33%;
}
.purple{
	height: 50px;
	background-color: purple;
}
.lightgray{
	height: 50px;
	background-color: lightgray;
}

.green{
    background-color: green;
    flex-basis: 33.33%;
}

.green0{
	height: 33px;
    background-color: green;
}
.white{
	height: 33px;
    background-color: white;
}

.ooo{
	height: 34px;
    background-color: #000;
}